# Jupyter
.ipynb_checkpoints/
__pycache__/

# Outputs
gtc_genoplan_test/
out*/
*.vcf
*.vcf.gz
*.csi
*.tsv
*.bed
*.bim
*.fam
*.log

# Large / sensitive inputs (don’t commit)
idat*/
*.idat
*.fasta
*.fa
*.fna
*.gz
pop/
asa/
snp_*/

*.egt
ASA*
*.map
chr.map
human_v38.fasta.fai